.div-root-appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-texts-appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.item-appbar {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  color: gray;
  font-size: 12px;
  cursor: pointer;
  display: "flex";
}
@media only screen and (max-width: 1200px) {
  .item-appbar {
    display: none;
  }
}
