.new-arrival-container {
  justify-content: center;
  width: 96vw;
  position: relative;
  border-radius: 5px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background-color: transparent;
  height: 90vh;
}

.root-slides-rtx{
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.top-slide{
  width: 30%;
  height: 220px;
  border-radius: 10px;
  border: white solid 2px;
  padding: 20px;
  background-color: #000;
  text-align: left;
  position: relative;
}

.top-slide img{
  width: 100%;
  height: 100%;
}

.caption-slide-items{
  position: relative;
  bottom:100px;
}
 
.image-postere{
  width: 100%;
  height: 100%;
  position: relative;
}

.bottom-slide{
  position: relative;
  /* display: grid; */
  top: 0px;
}
.bottom-slide h1{
  font-size: 80px;
}

@media only screen and (max-width:900px) {
  .new-arrival-container{
    width: 100%;
    height: 100%;

  }
  .image-postere {
    height: 100vh;
  }
  .top-slide{
    width: 100px;
    height: 100px;
  }
  .bottom-slide
  {
    font-size: 10px;
  }
  .bottom-slide h1{
    font-size: 10px;
  }
  .caption-slide-items{
    font-size: 10px;
    bottom: 50px;
  }
}