.div-root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: -4vh;
}

.div-container-login {
  width: 30%;
  padding: 30px;
  display: grid;
  gap: 20px;
}

.inputs-login {
  display: grid;
  gap: 20px;
  align-items: center;
}

.inputs-login label {
  font-weight: bold;
}

.discraption-log-sign {
  text-align: center;
  color: gray;
}

.remember-me {
  display: flex;
  align-items: center;
}
.div-container-login button {
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .div-container-login {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .div-root-container {
    width: 100%;
    flex-direction: column;
  }
  .div-container-login {
    width: 100%;
  }
  .discraption-log-sign {
    text-align: center;
    color: gray;
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .div-container-login {
    padding: 15px;
  }
  .inputs-login {
    gap: 15px;
  }

  .inputs-login label {
    font-size: 14px;
  }
}
