.title-products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-list-sort-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 95%;
}

.products-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 35px;
  width: 75%;
  float: right;
  margin-top: 2vh;
}

.div-filter-conteiner {
  display: grid;
  width: 23%;
}
.div-filter-mobile-view {
  display: none;
}

/* filter */

.sidebar {
  position: fixed;
  left: -100%;
  width: 80%;
  height: 800px;
  background-color: transparent;
  transition: 1s ease;
  overflow: auto;
  z-index: 1000;
  padding: 20px;
  border: rgb(184, 184, 184) solid 2px;
  border-radius: 20px;
  background-color: black;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  padding: 20px;
  margin-top: 10vh;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  font-size: 12px;
  color: #fff;
}

/* Menu Button */
.menu-button {
  position: relative;
  top: 35px;
  font-size: 24px;
  border: none;
  margin-bottom: 10vh;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1100;
  width: 0px;
  background-color: transparent;
}
.menu-button :hover {
  border: transparent;
}

/* Overlay for Mobile */
.overlay2 {
  position: fixed;
  height: 100%;
  background-color: black;
  z-index: 999;
  cursor: pointer;
}

.ranges-prices {
  display: grid;
  width: 100%;
  gap: 15px;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

/* filter ens */

/* Responsive Design */
@media (min-width: 1468px) {
  .menu-button {
    display: none;
  }

  .sidebar {
    left: -24px;
    padding: 20px;
    top: 28%;
    height: 80%;
    position: relative;
    width: 20%;
    background-color: black;
    border-right: #fff solid 2px;
  }

  .overlay2 {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .title-products-list {
    display: grid;
    font-size: 10px;
  }
  .products-list-sort-filter h4 {
    display: none;
  }
  .products-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    margin-top: 5vh;
    margin-right: 1vh;
    margin-bottom: 15vh;
  }
  .div-filter-conteiner {
    display: none;
  }
  .div-filter-mobile-view {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .title-products-list {
    display: grid;
    font-size: 10px;
  }
  .products-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    margin-top: 5vh;
    margin-right: 1vh;
  }
  .div-filter-conteiner {
    display: none;
  }
  .div-filter-mobile-view {
    display: block;
  }
}
