.title-products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-list-sort-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.products-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 35px;
  width: 75%;
  float: right;
}

.div-filter-conteiner {
  display: grid;
  width: 23%;
}
.div-filter-mobile-view {
  display: none;
}

@media only screen and (max-width: 1500px) {
  .title-products-list {
    display: grid;
    font-size: 10px;
  }
  .products-list-sort-filter h4{
    display: none;
  }
  .products-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    margin-top: 5vh;
    margin-right: 1vh;
    margin-bottom: 15vh;
  }
  .div-filter-conteiner {
    display: none;
  }
  .div-filter-mobile-view {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .title-products-list {
    display: grid;
    font-size: 10px;
  }
  .products-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    margin-top: 5vh;
    margin-right: 1vh;
  }
  .div-filter-conteiner {
    display: none;
  }
  .div-filter-mobile-view {
    display: block;
  }
}
