/* SizeSelector.css */  
.size-selector {  
    display: flex;  
    flex-direction: column;  
    width: 100%;
}  

.size-label {  
    font-size: 16px;  
    color: white;  
    margin-bottom: 8px;  
}  

.size-buttons {  
    display: flex; 
    gap: 3px; 
}  

.size-button {  
    padding: 10px 20px;  
    border-radius: 5px;
    gap: 20px;
    border: none;  
    font-size: 16px;  
    cursor: pointer;  
    background-color: #f0f0f0;  
    color: #333;  
    transition: background-color 0.3s, color 0.3s;  
  }  
  
  .size-button.active {  
    background-color: #d0d0d0;  
    color: #000;  
  }  
  
  .size-button:hover:not(.active) {  
    background-color: #e0e0e0;  
  }

  @media only screen and (max-width: 1024px) {
    .size-selector{
      width: 50%;
    }
      .size-button{
        width: 80px;
        padding: 10px;
        font-size: 10px;
      }
  }