.toggle-switch {  
    display: flex;  
    align-items: center;  
    cursor: pointer;  
    padding: 5px;  
    width: 100%;  
    height: 40px;  
    background-color: #eeeeee;  
    border-radius: 20px;  
    transition: background-color 0.3s ease;  
  }  
  
  .toggle-switch-indicator {  
    width: 50%;  
    height: 100%;  
    color: #000;
    background-color: #000; /* Default to black when yearly */  
    border-radius: 20px;  
    transition: transform 0.3s ease;  
  }  
  
  .toggle-switch-indicator.monthly {  
    transform: translateX(100%);  
    /* background-color: #fff; White when monthly   */
    color: rgb(0, 0, 0);
  }  
  
  .toggle-label {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    width: 50%;  
    height: 100%;  
    user-select: none;  
    transition: color 0.3s ease;  
  }  
  
  .toggle-label.yearly {  
    color: #000; /* Black for yearly label */  
  }  
  
  .toggle-label.monthly {  
    color: #000; /* Black for monthly label */  
  }

  @media only screen and (max-width: 1024px) {
    .toggle-switch {
      width: 60%;
    }
  }