.modal-overlay {  
  position: absolute; /* در حالت دسکتاپ */  
  right: 30px; /* فاصله از سمت راست */  
  width: 500px; /* عرض در حالت دسکتاپ */  
  z-index: 1000;  
}  

@media only screen and (max-width: 700px) {  
  .modal-overlay {  
    position: fixed; /* در حالت موبایل */  
    top: 20px; /* فاصله از بالا */  
    left: 50%; /* مرکز افقی */  
    transform: translateX(-50%); /* جابجایی برای مرکزی کردن */  
    width: 90%; /* عرض در حالت موبایل */  
    max-width: 400px; /* حداکثر عرض */  
  }  
}  

.modal {  
  background-color: white;  
  display: flex;  
  align-items: center;  
  justify-content: space-between;  
  border-radius: 5px;  
  gap: 2px;  
  padding: 1px 10px;  
}  

.result-search {  
  display: grid;  
  background-color: white;  
  align-items: center;  
  justify-content: space-between;  
  gap: 10px;  
  margin-top: 1vh;  
  border-radius: 5px;  
  color: black;  
  padding: 10px;  
  overflow-y: scroll;  
}