.modal-overlay2 {
  position: absolute;
  right: 30px;
  width: 500px;
  z-index: 1000;
}

@media only screen and (max-width: 700px) {
  .modal-overlay2 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
  }
}

.modal2 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  gap: 2px;
  padding: 1px 10px;
}

.result-search {
  display: grid;
  background-color: black;
  border: white solid 2px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 1vh;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 10px;
  height: 500px;
  overflow-y: scroll;
}
