.footer {
  color: #fff;
  padding: 30px 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top: white solid 2px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  gap: 240px;
}

.footer-logo {
  flex: 1;
  width: 300px;
  margin-top: 30px;
}
.footer-logo p {
  color: #979797;
  font-size: 12px;
}

.footer-logo .logo-icon {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer-column h3 {
  color: #ffffff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  line-height: 20px;
}

.footer-column li {
  margin: 5px 0;
  font-size: 12px;
}

.new-badge {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}
.footer-bottom a {
  color: #979797;
  text-decoration: none;
}
.footer-bottom p {
  color: gray;
}
.footer-links li:hover {
  color: blue;
}
@media (max-width: 768px) {
  .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    width: 100%;
  }

  .footer-links li:hover {
    color: blue;
  }

  .footer-column {
    display: grid;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-logo {
    margin: 0;
  }
}
