.product-card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  margin: 10px 0;
  /* width: 95%; */
  color: white;
  height: 100px;
  justify-content: space-between;
  border: white solid 2px;
}

.product-image {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.product-details {
  position: relative;
  left: 40px;
}

.product-title {
  font-size: 1.5em;
  margin: 0;
}

.product-description {
  color: #b0b0b0;
  margin: 4px 0 8px;
  font-size: 10px;
}

.product-price {
  font-size: 1.3em;
  margin: 4px 0;
}

.quantity-controls {
  display: flex;
  align-items: center;
  float: right;
  gap: 10px;
}

.quantity-controls button {
  background: none;
  border: 1px solid white;
  color: white;
  margin: 0 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.delete-button {
  background: red;
  border: none;
  color: white;
  padding: 4px 8px;
  margin-left: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .product-description {
    display: none;
  }
  .product-image{
    height: 50%;
    position: relative;
    top: -20px;
    width: 70%;
  }
  .product-title {
    font-size: 8px;
    width: 100%;
    margin-top: -2vh;
    margin-left: -2vh;
  }
  .product-price {
    font-size: 11px;
    position: relative;
  right: -80px;
  }
  .quantity-controls {
    gap: 2px;
    margin-top: 4vh;
  }
}
