.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1vh;
}

.checkbox-input {
  display: none;
}

.checkbox-box {
  width: 24px;
  height: 24px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
}

.checkbox-input:checked + .checkbox-box {
  background-color: #ffffff;
  border-color: #f7f7f7;
}

.checkbox-input:checked + .checkbox-box:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 1px;
  width: 8px;
  height: 14px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
