.root-container-single-product {
  display: flex;
  justify-content: center;
  gap: 130px;
  padding: 20px;
  margin-top: 5vh;
}

.div-image-single {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 5px;
}

.div-image-single img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.new-sin {
  background-color: white;
  border-radius: 5px;
  color: black;
  width: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.div-info-single {
  display: grid;
  justify-content: space-between;
  text-align: left;
  gap: 20px;
  width: 40%;
}

.nots-single p::before {
  content: "*";
  background-color: white;
  border-radius: 100px;
  width: 3px;
  height: 3px;
  margin-right: 1vh;
}

@media only screen and (max-width: 1024px) {
  .root-container-single-product {
    gap: 100px;
  }

  .div-image-single {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .root-container-single-product {
    display: grid;
    margin: 0;
    gap: 2px;
    padding: 20px;
  }

  .div-image-single {
    width: 100%;
    height: auto;
  }

  .div-info-single {
    width: 100%;
    padding: 20px;
    margin-left: 0vh;
  }
}
