body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: white;
  margin: 4vh;
  font-weight: bold;
  /* cursor: none; */
}

* {
  /* border: red solid 4px; */
}

hr {
  color: rgb(68, 68, 68);
  background-color: rgb(58, 58, 58);
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #ffffff;
  --sb-size: 7px;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

:-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
