.category-list {
  display: flex;
  gap: 15px;
  height: 100px;
  padding: 30px 20px;
  align-items: center;
  justify-content: center;
}

.category-item {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  gap: 20px;
  width: 250px;
  height: 60px;
  border: gray solid 2px;
  align-items: center;
  cursor: pointer;
}
.category-item p {
  font-size: 9px;
  color: gray;
}

.category-item img {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.category-name {
  display: flex;
  margin-top: 10px;
  font-weight: bold;
  bottom: 1px;
  color: white;
}

.category-item:hover {
  border: white solid 2px;
}

@media only screen and (max-width: 900px) {
  .category-list {
    overflow: scroll;
    scroll-snap-type: mandatory;
  }
  .category-item {
    width: 250px;
    height: 60px;
    font-size: 10px;
  }
  .category-item p {
    display: none;
  }
  .category-image {
    width: 130px;
  }
}
