.category-list {
  display: flex;
  gap: 15px;
  padding: 20px;
  height: 300px;
  justify-content: center;
  /* width: 90%; */
  display: none;
}

.category-item {
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  text-align: center;
  /* width: 1500px; */
  height: 100px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #f3f3f3;
  border: white solid 2px;
  display: grid;
  width: 300px;
  padding: 0px 30px 0px 30px;
  font-size: 10px;
  position: relative;
}



.category-image {
  height: 50%;
  width: 50%;
  position: absolute;
  top: -30%;
  left: 40px;
  border-radius: 100px;
  background-color: black;
  /* padding: 20px; */
  border: white solid 2px;
  /* padding: ; */
}

.category-name {
  display: flex;
  margin-top: 10px;
  font-weight: bold;
  bottom: 1px;
  color: white;
}

@media only screen and (max-width: 900px) {
  .category-list {
    overflow: scroll;
    scroll-snap-type: mandatory;
    /* width: 100%; */
  }
  .category-item {
    width: 200px;
    height: 150px;
    font-size: 10px;
  }
  .category-image {
    width: 130px;
  }
}
