.category-list {
  display: flex;
  gap: 15px;
  padding: 20px;
  height: 300px;
  justify-content: center;
}

.category-item {
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  text-align: center;
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.category-item:hover {
  transform: scale(1.05);
}

.category-image {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  position: relative;
}

.category-name {
  display: flex;
  margin-top: 10px;
  font-weight: bold;
  bottom: 1px;
  justify-content: center;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 900px) {
  .category-list {
    overflow: scroll;
    scroll-snap-type: mandatory;
    width: 100%;
  }
  .category-item {
    width: 200px;
    height: 150px;
  }
}
